@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "SF Pro Display-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/61de467773169b381a31a81c/fonts/sf-pro-display-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Text-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/639a905f6afe839d3082e674/fonts/fontsfree-net-sfprotext-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Text-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62fb4d5e3e707686a7b23f30/fonts/sfprotext-medium-1.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Text-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6432ce07e7c6ff77e3a36434/fonts/fontsfree-net-sfprotext-semibold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e443a667033e79db19cecf/fonts/sf-pro-display-regular.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Text-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e5bd2f729e81c0f2cb0ddb/fonts/sf-pro-text-bold.ttf")
    format("truetype");
}
